<!-- <h1>Merchants</h1> -->
<ul data-role="listview" data-theme="b">
<% @places.each do |spot| %>
 <li data-theme="b" class="ui-btn ui-btn-icon-right ui-li ui-btn-up-b">
	<div class="ui-btn-inner ui-li">
		<div class="ui-btn-text">
		<%= link_to ({:controller => "merchants", :action => "import", :reference => spot['reference']}), "data-ajax" => "true", "class" =>"ui-link-inherit" do %>
			<h3 class="ui-li-heading"><%= spot['name'] %></h3>
			<p class="ui-li-desc">
				<%= spot['vicinity'] %>
			</p>
			<% end %>
			</div><span class="ui-icon ui-icon-plus" data-icon="plus"></span>
	 </div>
	</li>
<% end %>
</ul>

