<div data-role="header" data-position="inline" data-theme="b">
	<%= link_to 'Home', root_url, "class" => "ui-btn-right", "data-icon" => "home", "data-iconpos" => "notext", "data-ajax" => "true" %>  
	<h1>Editing Merchant</h1>
	<%= link_to 'Delete', @merchant, :method => :delete, "data-icon" => "delete", "class" => "ui-btn-right" %>
</div>
 
<div data-role="content">
  <%= render 'form' %>
</div>