
    <div data-role="header">
        <h1>Merchants Near By</h1>          
    </div>
    <div data-role="content">
				<a id="findme" data-role="button" data-icon="search">Locate Nearby Merchants</a>
        
        <div id="msg"></div>
        <div id="ajaxSpinnerContainer"><img src="/images/ajax-loader.gif" id="ajaxSpinnerImage" title="Locating Nearby Merchants..."></div>
        <div id="places_list"></div>

    </div>
    <div data-role="footer">
			<div data-role="navbar">
					<ul>
						<li><a class="fdcity" id="atlanta" data-role="button" data-message="lat=33.9027799&lng=-84.3562896">Atlanta</a></li>
						<li><a class="fdcity" id="memphis" data-role="button" data-message="lat=33.9027799&lng=-84.3562896">Memphis</a></li>
						<li><a class="fdcity" id="houston" data-role="button" data-message="lat=33.9027799&lng=-84.3562896">Houston</a></li>
						<li><a class="fdcity" id="coralsprings" data-role="button" data-message="lat=33.9027799&lng=-84.3562896">Coral Springs</a></li>
						<li><%= link_to 'New', new_merchant_path, "data-icon" => "plus", "data-role" => "button" %></li>
					</ul>
				</div>
    </div>
